**__pycache__/
**build/
**dist/
env/
FutbolistasCompilador.spec
.env
templates/salida.html
templates/tokens.html
templates/symbol_table.html
programa_generado.exe
launch.json
settings.json
.vscode/
ccodeGen.py