
        <html>
        <head>
            <title>Tabla de Símbolos</title>
            <link rel="stylesheet" href="./css/styles.css">
            <style>
                body { font-family: Arial, sans-serif; padding: 20px; }
                h1 { color: #333; }
                table { width: 100%; border-collapse: collapse; margin-top: 20px; }
                th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
                th { background-color: #f2f2f2; }
            </style>
        </head>
        <body>
            <h1>Tabla de Símbolos</h1>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Ámbito</th>
                    <th>Valor</th>
                </tr>
        <tr><td>goles</td><td>milito</td><td>global</td><td>10</td></tr><tr><td>promedio</td><td>zidane</td><td>global</td><td>0</td></tr><tr><td>inicial</td><td>saviola</td><td>global</td><td>M</td></tr><tr><td>leyenda</td><td>valderrama</td><td>global</td><td>true</td></tr><tr><td>nombre</td><td>iniesta</td><td>global</td><td>Messi</td></tr><tr><td>i</td><td>milito</td><td>local</td><td>5</td></tr><tr><td>i</td><td>milito</td><td>local</td><td>5</td></tr><tr><td>x</td><td>milito</td><td>local</td><td>3</td></tr><tr><td>x</td><td>milito</td><td>local</td><td>3</td></tr>
            </table>
        </body>
        </html>
        